<table class="table">
	<tr>
		<th>Name</th>
		<td class="name"></td>
	</tr>
	<tr>
		<th>Browser</th>
		<td class="browser"></td>
	</tr>
	<tr>
		<th>OS</th>
		<td class="os"></td>
	</tr>
	<tr>
		<th>Device</th>
		<td class="device"></td>
	</tr>
	<tr>
		<th>Last Visit</th>
		<td class="url"></td>
	</tr>
</table>
<div class="row mb-2">
	<div class="col">
		<h6>Agents</h6>
		<ul class="list-group list-group-flush conversation-agents">
		</ul>
	</div>
</div>

<div class="row mb-2">
	<div class="col ">
		<select class="form-control conversation-agents-control">
		</select>
	</div>
	<div class="col col-auto">
		<button class="btn btn-primary add_agent_to_conversation">Add</button>
	</div>
</div>

